{
  "VCAP_SERVICES": {
    "user-provided": [
      {
        "name": "successfactors-credentials",
        "label": "user-provided",
        "tags": ["successfactors"],
        "credentials": {
          "url": "https://apisalesdemo2.successfactors.eu",
          "username": "your_username",
          "password": "your_password",
          "companyId": "SFHUB003674"
        }
      }
    ]
  }
}
